@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
}

svg {
  fill: currentColor;
}

button {
  @apply cursor-pointer hover:opacity-70 duration-100
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.spinner {
  border-radius: 50%;

  background: conic-gradient(#0000 10%, white);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: loader 1s infinite linear;
}
@keyframes loader {
  to {
    transform: rotate(1turn);
  }
}